{{ include(directory ~ '/templates/components/header.html.twig') }}

<div class="">

  <main role="main" class="">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <section class="max-w-3xl mx-auto px-3 my-12 md:my-24 lg:my-32">
      <div class="mb-3">
        {{ page.content }}
      </div>

      <a class="btn-primary" href="/user/login">{{ 'Go to login'|t }}</a>
    </section>

  </main>

  {{ include(directory ~ '/templates/components/footer.html.twig') }}

</div>{# /.layout-container #}

{{ include(directory ~ '/templates/components/global-navigation.html.twig') }}
