{%
  set redirect_url = url(user.isAuthenticated() ? 'giv_din_stemme.profile' : 'giv_din_stemme.consent')
%}

{% set modal_id = 'terms-modal' %}

<section class="content">
  <main class="main px-5">
    <h1 class="text-5xl">{{ drupal_title() }}</h1>
    <div class="py-5 grid md:grid-cols-2 md:gap-x-6 text-lg text-gray-500">
      <div class="col-span-1 mb-10 static-content">
        {{ front_page_text|raw }}
      </div>
      <div class="col-span-1">
        <p>
          <span class="text-black font-medium"><i class="mr-3 fa-regular fa-user"></i>{{ values.donations }}</span> {{ 'Donations'|t }}
        </p>
        <p>
          <span class="text-black font-medium"><i class="mr-3 fa-regular fa-clock"></i>{{ values.minutes }}</span> {{ 'Minutes'|t }}
        </p>
        <div class="my-10">
          <a href="{{ redirect_url }}" class="btn-primary">
            <i class="mr-3 fa-solid fa-microphone"></i>
            <span>{{ 'Start donation'|t }}</span>
          </a>
        </div>
      </div>
    </div>
  </main>
</section>

{% include '@giv_din_stemme_theme/templates/modal.html.twig' with {'text_template': '@giv_din_stemme_theme/texts/terms-text.html', 'modal_id': modal_id } %}


