{% extends "@giv_din_stemme/gds-page-wrapper.html.twig" %}
{% set modal_id = 'permissions-modal' %}

{% block gds_pager %}
  {% include '@giv_din_stemme_theme/templates/modal.html.twig' with {'text_template': '@giv_din_stemme_theme/texts/permission-text.html', 'modal_id': modal_id } %}
  {% include "@giv_din_stemme/user-setup-pager.html.twig" with {'active_page': 3} %}
{% endblock %}

{% block gds_content %}
  {{ attach_library('giv_din_stemme/check_microphone') }}
  <div class="py-5">
    <div class="consent-intro text-lg">
      <p>
        {{ 'To record the sound you must grant us access to use the microphone on your device. Press the microphone icon next to the address bar, and click Allow in the popup that appears in your browser.'|t }}
      </p>
      <p>
          {{ 'If you encounter a problem see: ' }} <span modal-id="{{ modal_id }}" class="underline cursor-pointer btnOpenModal">{{ 'Help for permissions'|t }}</span>.
      </p>
    </div>
    <div class="-mx-5 mb-5 pb-5 border-b-2"></div>
    <div id="microphone-allowed-display" class="hidden text-center">
      <div class="flex place-content-center my-5">
        {% include "@giv_din_stemme/components/button-microphone-toggle.html.twig" %}
      </div>
      <p class="text-lg">{{ 'Access to microphone successfully granted.'|t }}</p>
      <p>{{ 'Continue to test the settings'|t }}</p>
    </div>
    <div id="microphone-disallowed-display" class="bg-gray-400 my-16 mx-auto rounded-full table w-20 h-20 cursor-pointer text-center">
      <div class="align-middle table-cell">
        <i class="text-white text-3xl fa-solid fa-microphone-slash"></i>
      </div>
    </div>
    <div id="microphone-help-text" class="duration-1000 text-center text-lg">{{ 'There is no microphone access.'|t }}</div>
  </div>
{% endblock %}
{% block gds_footer %}
  <div class="py-5 grid justify-end">
    <a id="continue-button" href="{{ url('giv_din_stemme.test')}}" class="btn-default pointer-events-none">
      <span class="mr-3">{{ 'Continue'|t }}</span>
      <i class="fa-solid fa-circle-arrow-right"></i>
    </a>
  </div>
{% endblock %}