{% extends "@giv_din_stemme/gds-page-wrapper.html.twig" %}

{% block gds_content %}
  {% for index, message in messages|default([]) %}
    {{ include('@giv_din_stemme_theme/templates/components/status-message.html.twig', {id: 'message-'~index, type: message.type|default('info'), message: message.message, size: 'large'}) }}
  {% endfor %}

  <div class="py-5">
      <div class="consent-intro text-lg">
        <p>
          {{ "Activate the microphone and read the displayed text. Press 'Next Section' to continue"|t }}
        </p>
      </div>
      <div class="mb-5 pb-5 border-b-2"></div>
    </div>
    <div class="mx-3 md:mx-5 flex justify-items-center">
      {{ include('@giv_din_stemme_theme/templates/components/status-message.html.twig', {id: 'start_recording_message', type: 'info', message: 'You are ready to record, press the button to start'|t, aria_hidden: false }) }}
      {{ include('@giv_din_stemme_theme/templates/components/status-message.html.twig', {id: 'stop_recording_message', type: 'danger', message: 'Recording - Press button again when you have finished reading'|t, hidden_class: true, aria_hidden: true }) }}
      {{ include('@giv_din_stemme_theme/templates/components/status-message.html.twig', {id: 'manually_stopped_recording_message', type: 'warning', message: 'Your recording was stopped'|t, hidden_class: true, aria_hidden: true }) }}
      {{ include('@giv_din_stemme_theme/templates/components/status-message.html.twig', {id: 'automatically_stopped_recording_message', type: 'warning', message: 'Your recording was stopped because it reached the max-length'|t, hidden_class: true, aria_hidden: true }) }}
    </div>
    <div class="relative flex flex-col md:flex-row md:gap-5 md:min-h-36 md:py-16">
      <div class="consent-text max-h-52 overflow-y-auto flex align-content-center grow">
        <p class="text-xl mx-3 md:mx-5">
          {{ textToRead }}
        </p>
      </div>
    <div class="flex my-5 justify-center md:justify-self-end">
      {% include "@giv_din_stemme/components/button-microphone-toggle.html.twig" %}
    </div>
  </div>
  <section class="sound-clips hidden flex flex-col" aria-hidden="true">
    {{ "If you want, you can listen to your recording before you continue."|t }}
    {{ "You may delete and record another if you want."|t }}
    <article class="clip flex gap-2 border-t my-1 py-2">
      <audio controls=""></audio>
      <button type="button" class="btn-danger self-center">{{ "Delete"|t }}</button>
    </article>
  </section>
{% endblock %}
{% block gds_progress %}
  {# Progressbar #}
  <div class="progress-bar bg-primary flex h-1">
    <div class="progress-indicator bg-brand h-1" style="width: {{ (100*currentText/(totalTexts+1))|number_format(4, '.', '') }}%"></div>
  </div>
{% endblock %}
{% block gds_footer %}
  {% set has_next = currentText < totalTexts %}
  <div class="py-5">
    <form method="post" enctype="multipart/form-data">
      <div aria-hidden="true">
        <input type="file" name="file" id="audio_input" hidden>
        <input type="hidden" id="recording_duration" name="duration">
      </div>
      <div class="flex flex-col gap-3 md:grid md:grid-cols-2">
        <div class="sm:col-span-1 justify-self-start order-2 md:order-1">
          {% if has_next %}
            <button type="submit" class="btn-secondary" name="action" value="finish" disabled>
              {{ 'Save and finish'|t }}
            </button>
          {% endif %}
        </div>
        <div class="sm:col-span-1 justify-self-end order-1 md:order-2">
          <button type="submit" class="btn-default" name="action" value="continue" disabled>
            <span class="mr-3">
              {{ has_next ? 'Save and continue'|t : 'Save and finish'|t }}
            </span>
            <i class="fa-solid fa-circle-arrow-right"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
