{% extends "@giv_din_stemme/gds-page-wrapper.html.twig" %}

{% block gds_pager %}
  {% include "@giv_din_stemme/user-setup-pager.html.twig" with {'active_page': 4} %}
{% endblock %}

{% block gds_content %}
  {{ attach_library('giv_din_stemme/test_microphone') }}
  <div class="py-5">
    <div class="consent-intro text-lg">
      <p>
        {{ 'Test that the microphone is recording your voice clearly. Press the red button below to record.'|t }}
      </p>
    </div>
    <div class="-mx-5 mb-5 pb-5 border-b-2"></div>
    <div class="text-center text-lg">{{ 'Try to say'|t }}:</div>
    <div class="text-center text-xl">"{{ 'She sells seashells by the seashore'|t }}"</div>
    <div id="volume-test-toggle" class="my-16 mx-auto rounded-full table w-20 h-20 cursor-pointer text-center">
      <div class="align-middle table-cell">
        <i class="text-white text-3xl fa-solid fa-microphone"></i>
      </div>
    </div>
    <div class="text-center text-lg">{{ 'If the button is not vibrating you must adjust your device input volume.'|t }}</div>
  </div>
{% endblock %}
{% block gds_footer %}
  <div class="py-5  grid justify-end">
    <a href="{{ url('giv_din_stemme.donate') }}" class="btn-default button button--primary">
      <span class="mr-3">{{ 'Continue'|t }}</span>
      <i class="fa-solid fa-circle-arrow-right"></i>
    </a>
  </div>
{% endblock %}