{% extends "@giv_din_stemme/gds-page-wrapper.html.twig" %}

{% block gds_pager %}
  {% include "@giv_din_stemme/user-setup-pager.html.twig" with {'active_page': 4} %}
{% endblock %}

{% block gds_content %}
  {{ attach_library('giv_din_stemme/test_microphone') }}

  {% if is_safari_on_ios|default(false) %}
    <div class="text-lg">
      {{ include(directory ~ '/templates/components/status-message.html.twig', {
        type: 'warning',
        message: 'Important information below'|t
      }) }}

      <p>
        {{ 'Some browsers need further microphone permissions. Read more about <a href=":help_url">settings the permissions</a>.'|t({
          ':help_url': safari_on_ios_help_url
        }) }}
      </p>
    </div>
  {% endif %}

  <div class="py-5">
    <div class="consent-intro text-lg">
      <p>
        {{ 'Test that the microphone is recording your voice clearly. Press the red button below to record.'|t }}
      </p>
    </div>
    <div class="-mx-5 mb-5 pb-5 border-b-2"></div>
    <div class="text-center flex flex-col items-center">
      <p class="text-xl">{{ 'Press the microphone button to activate'|t }}</p>
      <span class="my-10">{% include "@giv_din_stemme/components/button-microphone-toggle.html.twig" %}</span>
      <p class="text-lg">{{ 'Try to say'|t }}:</p>
      <p class="text-lg mb-3">"{{ 'She sells seashells by the seashore'|t }}"</p>
      <p class="text-lg">{{ 'The button will show feedback based on your input volume.'|t }}</p>
    </div>
  </div>
{% endblock %}
{% block gds_footer %}
  <div class="py-5  grid justify-end">
    <a href="{{ url('giv_din_stemme.donate') }}" class="btn-default button button--primary">
      <span class="mr-3">{{ 'Continue'|t }}</span>
      <i class="fa-solid fa-circle-arrow-right"></i>
    </a>
  </div>
{% endblock %}
