<footer role="contentinfo" class="container mx-auto border-t border-secondary py-8">
  {{ page.footer_header }}
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 md:gap-20 divide-y md:divide-none">
    {{ page.footer_col_1 }}
    {{ page.footer_col_2 }}
    {{ page.footer_col_3 }}
    {{ page.footer_col_4 }}
  </div>
  {{ page.footer_secondary_brand }}
</footer>
